notifications:
  email: false
  slack:
    secure: "qXwdryidmlwL5RcX3JoAL7BgCF4w/W0dJdmU5r3Bko6N31Xbv4YlFmFKKlh8BwpHidN2X4mBYHHI7vYvsKYr8iW45sSwIs0gYWZkiBtFGU5UpAv0aWT4ZzgEkN4TQ/8XImZcK57E4KFKu1l8bbJt7d0ZNNh0M/elrhrsw0oX/BQ725z5wvmpcaVm0g//Pk2ydk/yH8NwLK0R+t3NwPJ66pS4aBRxBP0qTTqvCzwHuqau0u1QmucdeQJaeg71SZdahYHTqtIfhn//sucxUPzZMRtJDweuCNB5SEeZZxLcpnshkFTa1NDmMMFwzJEIId1QAAoXLR4h6b2lmEfrmdWhbWz/mk0xbIEzhODgMGJRZb62boKiW8XLvdIJfSE9rAHcXRzuFHYaudDquah/WQ7zh5rLX3UMT00FD2XwWzeKclVtiPTfWkukVeWqhdpSMOhr9/bTIIoT1ns751AlyQGOa4sZkVEeUbhPPuTPF5jT9S+PwIhB9x84NZ7AwAxH09rUNgi0liqhNr5pQwtUyl0M2aZA3s1yZBKqVsc3ZBmQIIfEeOSSGZjxn58TxHgUw/28hUdrLUdiix213pKIYppQ+LUJeb3v+5kmIOBLproQkPkcEtLwN5+eYE81RAMG27sHnSDVhQVHb56fY4WR1tB2R1Lrmy3LzduQ9IIQ5ucWQz8="

language: cpp

dist: bionic
sudo: false

# Don't shallow clone as this may break the versioning
git:
  depth: false

branches:
  only:
  - master

# BUILD MATRIX
matrix:
  fast_finish: true
  allow_failures:
  - os: windows
  include:
  - os: windows
  # OSX
  - os: osx
    osx_image: xcode9.3

  - os: osx
    osx_image: xcode9.4

  - os: osx
    osx_image: xcode10

  - os: osx
    osx_image: xcode10.1

  - os: osx
    osx_image: xcode10.2

  - os: osx
    osx_image: xcode11.6
  
  - os: osx
    osx_image: xcode12
  
  # LINUX GCC
  - os: linux
    compiler: gcc
    env: MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
    addons:
      apt:
        sources: ['ubuntu-toolchain-r-test']
        packages: ['g++-5', 'ninja-build']

  - os: linux
    compiler: gcc
    env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    addons:
      apt:
        sources: ['ubuntu-toolchain-r-test']
        packages: ['g++-6', 'ninja-build']

  - os: linux
    compiler: gcc
    env: MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
    addons:
      apt:
        sources: ['ubuntu-toolchain-r-test']
        packages: ['g++-7', 'ninja-build']

  - os: linux
    compiler: gcc
    env: MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
    addons:
      apt:
        sources: ['ubuntu-toolchain-r-test']
        packages: ['g++-8', 'ninja-build']

  - os: linux
    compiler: gcc
    env: MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
    addons:
      apt:
        sources: ['ubuntu-toolchain-r-test']
        packages: ['g++-9', 'ninja-build']

  # LINUX CLANG
  - os: linux
    compiler: clang
    env: MATRIX_EVAL="CC=clang-7 && CXX=clang++-7"
    addons:
      apt:
        sources: ['llvm-toolchain-bionic-7']
        packages: ['clang-7', 'ninja-build']

  - os: linux
    compiler: clang
    env: MATRIX_EVAL="CC=clang-8 && CXX=clang++-8"
    addons:
      apt:
        sources: ['llvm-toolchain-bionic-8']
        packages: ['clang-8', 'ninja-build']

  - os: linux
    compiler: clang
    env: MATRIX_EVAL="CC=clang-9 && CXX=clang++-9"
    addons:
      apt:
        sources: ['llvm-toolchain-bionic-9']
        packages: ['clang-9', 'ninja-build']


before_install:
- |
   if [[ (-x $(which brew)) ]]; then
     brew update
     brew install cmake ninja
     brew upgrade cmake
     cmake --version
   fi
- if [[ "${MATRIX_EVAL}" != "" ]]; then eval ${MATRIX_EVAL}; fi

# Show OS/compiler version
- uname -a
- $CXX --version

install:
- mkdir build; cd build;
- cmake -DBUILD_PYMEM3DG=OFF -DSUITESPARSE=OFF -GNinja ..
- cmake --build . --config Release

script:
- ctest -C Release -V -j
