include VERSION
include README.md
include pyproject.toml
recursive-include docs *


# CMake Helpers
include cmake/*
include CMakeLists.txt

# C++ sources
include src/*
recursive-include libraries *
recursive-include include *

# PyMem3DG sources
recursive-include pymem3dg *

# Unit Test
recursive-include tests *
